* {
    margin: 0;
}

/* Personal Information styling */
.personal-information {
    background-color: lightgrey;
    width: 25%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
}

.personal-information > h3 {
    margin-top: 40px;
    padding: 5px 0 5px 5px;
    color: white;
    background-color: rgb(29, 27, 27);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    
}
.personal-information > p {
    line-height: 25px;
    text-align: center;
    
}
.personal-information > ul {
    text-align: center;
}


.personal-information > ul > li {
    margin-top: 20px;
    list-style-type: none;
}


img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;

}


/* Title styling */

.title {
    background-color: rgb(29, 27, 27);
    display: inline-block;
    width: 70%;
    position: absolute;
    top: 0; 
    margin-left: 2%;
    padding-bottom: 15%;
    color: white;
    text-transform: uppercase;
    
}


.title-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
